<!doctype html>
<html lang="vi">

<body style="margin:0;padding:0;font-family:Calibri,Arial,sans-serif;font-size:11pt;line-height:1.5;color:#000000;">
  <p style="margin:0 0 12px 0;">Dear BU,</p>
  <p style="margin:0 0 12px 0;">Liên quan đến yêu cầu hỗ trợ kiểm tra việc không thực hiện được phiếu Drop out, Tech
    team xin gửi thông tin và phản hồi kết quả như sau:</p>
  <p style="padding-left: 2em;text-indent:-1em; margin:0 0 8px 0;">- <strong>Tình trạng</strong>: Sau khi kiểm tra, Team
    ghi nhận học viên hiện đang ở trạng thái <strong>Completed</strong>. Theo quy định của hệ thống, CS chỉ có thể thực
    hiện phiếu Drop out khi học viên ở trạng thái <strong>Waitlisted</strong>.</p>
  <p style="padding-left: 2em;text-indent:-1em; margin:0 0 12px 0;">- <strong>Xử lý</strong>: BU vui lòng vào lớp, sau
    đó chọn tính năng <strong>"Request re-running class"</strong> (yêu cầu chạy mở lại lớp học). Sau khi yêu cầu được
    phê duyệt, BU vui lòng refresh lại lớp, hệ thống sẽ tự động cập nhật trạng thái của học viên đã được withdraw sang
    <strong>Waitlisted</strong>.
  </p>
  <p style="margin:0 0 8px 0;"><strong style="color:#ff0000;">Lưu ý quan trọng 1</strong>: Theo nghiệp vụ hệ thống, CS
    cần thực hiện thao tác Withdraw học viên ra khỏi lớp trước khi lớp kết thúc. Trường hợp lớp đã chuyển sang trạng
    thái <strong>Finished</strong> mà học viên chưa được Withdraw, hệ thống sẽ tự động cập nhật trạng thái học viên sang
    <strong>Completed</strong>.
  </p>
  <p style="margin:0 0 8px 0;"><strong style="color:#ff0000;">Lưu ý quan trọng 2</strong>:</p>
  <p style="padding-left: 2em;text-indent:-1em; margin:0 0 4px 0;">- Sau khi yêu cầu running lại lớp, bạn vui lòng chờ
    HO phê duyệt. Trong lúc chờ phê duyệt sẽ không thể yêu cầu lại nhiều lần.</p>
  <p style="padding-left: 2em;text-indent:-1em; margin:0 0 4px 0;">- Sau khi được duyệt (lớp về trạng thái
    <strong>Running</strong>), người dùng cần tranh thủ thực hiện ngay các thao tác (điểm danh, nhập điểm...).
  </p>
  <p style="padding-left: 2em;text-indent:-1em; margin:0 0 4px 0;">- Hệ thống sẽ tự động đóng lớp (về
    <strong>Finished</strong>) trong khoảng 00:00 - 08:00 sáng hôm sau.
  </p>
  <p style="padding-left: 2em;text-indent:-1em; margin:0 0 12px 0;">- <strong>Giới hạn</strong>: Mỗi lớp chỉ được phép
    sử dụng tính năng Re-running tối đa <strong>02 lần</strong>.</p>
  <p style="margin:0 0 12px 0;">Trong trường hợp cần thêm thông tin hoặc hỗ trợ, bạn vui lòng phản hồi lại email này.
  </p>
  <p style="margin:0;">Trân Trọng,<br />MindX Support Team</p>
</body>

</html>