<!doctype html>
<html lang="vi">

<body style="margin:0;padding:0;font-family:Calibri,Arial,sans-serif;font-size:11pt;line-height:1.5;color:#000000;">
    <p style="margin:0 0 12px 0;">Dear BU,</p>
    <p style="margin:0 0 12px 0;">Liên quan đến yêu cầu hỗ trợ về vấn đề sai giá sản phẩm, Tech team xin
        gửi thông tin và phản hồi kết quả như sau:</p>
    <p style="margin:0 0 12px 0;"><strong>Tình trạng:</strong> sau khi kiểm tra, team nhận thấy hệ thống gặp sự cố dẫn
        đến lỗi mã giảm giá, vì vậy giá của học phí không được cập nhật đúng</p>
    <p style="margin:0 0 12px 0;"><strong>Xử lý:</strong> Team đã hỗ trợ BU cập nhật lại giá của sản phẩm, BU truy cập
        lại
        hệ thống kiểm tra và thao tác cần thiết nhé.</p>
    <p style="margin:0 0 12px 0;">Trong trường hợp cần thêm thông tin hoặc hỗ trợ, bạn vui lòng phản hồi lại email này.
    </p>
    <p style="margin:0;">Trân Trọng,<br />MindX Support Team</p>
</body>

</html>