<!doctype html>
<html lang="vi">

<body style="margin:0;padding:0;font-family:Calibri,Arial,sans-serif;font-size:11pt;line-height:1.5;color:#000000;">
  <p style="margin:0 0 12px 0;">Dear BU,</p>

  <p style="margin:0 0 12px 0;">Liên quan đến vấn đề học viên không được enroll vào lớp. Sau khi kiểm tra hệ thống CRM,
    team nhận thấy rằng học viên mới đóng một phần học phí (chưa đóng đủ), vì vậy hệ thống chưa mở thêm slot cho học
    viên. BU vui lòng liên hệ với phụ huynh đóng nốt phần học phí còn lại để hệ thống cập nhật mở thêm slot cho học
    viên.
  </p>
  <p style="margin:0 0 12px 0;">Trong trường hợp cần thêm thông tin hoặc hỗ trợ, bạn vui lòng phản hồi lại email này.
  </p>
  <p style="margin:0;">Trân trọng,<br />MindX Support Team</p>
</body>

</html>