<!doctype html>
<html lang="vi">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>MindX Support Reply</title>
</head>

<body style="margin:0;padding:0;font-family:Calibri,Arial,sans-serif;font-size:11pt;line-height:1.5;color:#000000;">
  <p style="margin:0 0 12px 0;">Dear BU,</p>
  <p style="margin:0 0 12px 0;">Liên quan đến yêu cầu hoàn điểm đổi quà cho học viên, team xin hướng dẫn bạn như sau:
  </p>
  <p style="padding-left: 2em;text-indent:-1em; margin:0 0 8px 0;">- Đầu tiên truy cập vào hệ thống LMS, vào phần
    <strong>Khách hàng thân thiết - Yêu cầu đổi quà</strong>.
  </p>
  <p style="padding-left: 2em;text-indent:-1em; margin:0 0 8px 0;">- Tiếp theo, tìm kiếm những yêu cầu đổi quà đang
    trong trạng thái chờ (<strong>Pending</strong>).</p>
  <p style="padding-left: 2em;text-indent:-1em; margin:0 0 12px 0;">- Click vào yêu cầu cần hủy và nhấn
    <strong>cancel</strong>.
  </p>
  <p style="margin:0 0 12px 0;">Trong trường hợp cần thêm thông tin hoặc hỗ trợ, bạn vui lòng phản hồi lại email này.
  </p>
  <p style="margin:0;">Trân Trọng,<br />MindX Support Team</p>
</body>

</html>