<!doctype html>
<html lang="vi">

<body style="margin:0;padding:0;font-family:Calibri,Arial,sans-serif;font-size:11pt;line-height:1.5;color:#000000;">
  <p style="margin:0 0 12px 0;">Dear BU,</p>
  <p style="margin:0 0 12px 0;">Hiện tại hệ thống đang gặp lỗi "ID slot học phần" ở CRM bị nhảy sai thứ tự (ở LMS vẫn
    bình thường). Ví dụ thông thường ID sẽ phải theo thứ tự 1,2,3,4 - nhưng ở CRM đang bị nhảy thành 2,3,1,4. Do đó bạn
    thao tác hủy request enrollment ở CRM giúp mình, thay vào đó thực hiện thao tác enroll ở LMS ạ. Team sẽ có gắng fix
    sớm nhất có thể.</p>
  <p style="margin:0;">Trân trọng,</p>
  <p style="margin:0;">MindX Support Team</p>
</body>

</html>